:root {
    --width: 90vw;
    --height: 60vh;

    --initial-cell-color: #999999;
    --hover-cell-color: #CCCCCC;

    --main-bg-color: #333333;
    --main-color: #01FF70;

    --XColor: white;
    --OColor: black;
}

body {
    padding: 2.8vh;
    background: var(--main-bg-color);
}

#title {
    font-size: 7vh;
    line-height: 5vh;
    font-family: monospace;
    text-align: center;
    color: var(--main-color);
}

.game-board {
    margin: auto;
    width: var(--height);
    max-width: var(--width);
    height: var(--height);
    max-height: var(--width);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vh;
}

.game-cell {
    background: var(--initial-cell-color);
    border: 1px solid var(--main-color);
}

.game-cell:hover {
    background: var(--hover-cell-color);
    box-shadow: 0 0 30px var(--main-color);
    border: none;
}

#game-over {
    visibility: hidden;
    color: var(--main-color);
	text-shadow: 1px 1px black;
    margin-top: 5vh;
    font-size: 5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#smaller {
    font-size: 0.7em;
	text-shadow: 2px 2px blue;
}

#smaller:hover {
	text-shadow: 2px 2px red;
}